# Here is defined who is responsible for which page in the repository
# Github Tags:
# Jannes: janneskoehler
# Mareen: MareenToebber
# Max: maxsk-ger
# Jannik: cJannik
# Paul: plw307


# ==================================================================
#                                Misc
# ==================================================================

.* @maxsk-ger
*README* @maxsk-ger
*LICENSE* @janneskoehler
*Gemfile* @maxsk-ger @cJannik
*CNAME* @janneskoehler
*favicon* @janneskoehler
*404* @maxsk-ger @cJannik
*prettier* @maxsk-ger @cJannik
*.gitignore @maxsk-ger @cJannik
*.yml @maxsk-ger @cJannik
*.scss @maxsk-ger @cJannik
*.css @maxsk-ger @cJannik
*_includes @maxsk-ger @cJannik


# ==================================================================
#                                Pages
# ==================================================================

*index.md
/docs/bricks*
/docs/designmode* @plw307
/docs/formulas*
/docs/interfaces*
/docs/latest-updates* @maxsk-ger
/docs/member-management* 
/docs/tiles*
/docs/workflows*
/docs/workspace-settings*
/docs/beta*
/docs/credits*
/docs/data-structure* @maxsk-ger
/docs/first-steps* @MareenToebber
/docs/health-check* 
/docs/program-structure* 
/docs/solutions*

# ==================================================================
#                    Old Pages (will be deleted soon)
# ==================================================================

*old* @maxsk-ger
